.uk-container{
    padding: 0px;
}

.panel-header .panel-body .header-logo{
    max-width: 7%;
     
}

.panel-header{
    background-color: #fff;
    box-shadow: 0 2px 8px hsl(0deg 0% 78% / 25%);
    border-bottom: 1px solid hsla(0,0%,93.3%,.7);
}

.panel-header .panel-body .navigation .main-menu .menu-item{
    position: relative;
}


.panel-header .panel-body .navigation .main-menu .menu-item>a{
    display: inline-block;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 50px;
    color: #000;
    font-feature-settings: "ss01" on;
    position: relative;
    padding: 15px 12px;
}



.panel-header .panel-body .navigation .main-menu .menu-item .menu-child{
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: #fff;
    width: 200px;
    border: 1px solid #ddd;
    border-top: none;
    
}

.panel-header .panel-body .navigation .main-menu .menu-item:hover .menu-child {
    display: block;
   

}

.panel-header .panel-body .navigation .main-menu .menu-item .menu-child>li>a{
    display: block;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    font-feature-settings: "ss01" on;
    position: relative;
    padding: 15px 12px;
    
    
}

.panel-header .panel-body .navigation .main-menu .menu-item .menu-child>li{
    position: relative;
}

.panel-header .panel-body .header-icon>ul>li a{
    display: block;
    padding: 11px 11px;
    text-decoration: none;
    transition: 200ms ease;
    font-size: 1.6rem;
    color: #fff;
    border-bottom: 2px solid transparent;

}

.panel-header .panel-body .header-icon>ul>li:not(:last-child){
    margin-right: 20px;
}


.panel-header .panel-body .navigation .main-menu .menu-item .menu-child .menu-child-2{
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    list-style-type: none;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    display: none;

}

.panel-header .panel-body .navigation .main-menu .menu-item .menu-child .menu-child-2 li a{
    display: block;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    font-feature-settings: "ss01" on;
    position: relative;
    padding: 15px 12px;

}

.panel-header .panel-body .navigation .main-menu .menu-item .menu-child>li:hover .menu-child-2{
    display: block;
}

.header-login a{
    display: inline-block;
    background-color: #fc3;
    font-family: Oswald;
    border-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 5px 12px;
    margin-left: 15px;
    cursor: pointer;
}

.header-login a span{
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 8px;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    transform: translateY(1px);
}




/*panel-footer*/

.panel-footer{
    background: #000;
    color: #fff;
    padding-top: 35px;
    
}



.footer-description .title{
    font-weight: 600;
    font-size: 16px;
    font-family: 'be vietnam pro';
    color: #fff;
    line-height: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-description p{
    font-size: 14px;
    font-family: 'be vietnam pro';
    color: #fff;
    line-height: 22px;
    margin-bottom: 5px;
}

.footer-text{
    
    font-size: 16px;
    font-family: 'be vietnam pro';
    color: #fff;
    line-height: 25px;
    margin-bottom: 5px;
}
.footer-more a{
    display: block;
}
.footer-more .footer-text{
    font-weight: 600;
}

.footer-more{
    margin-bottom: 15px;
}

.footer-check .pic-1{
    height: 60px;
    margin-right: 20px;
}

.footer-check .pic-2{
    height: 40px;
}

.footer-check{
    margin-bottom: 25px;
}

.footer-phone a{
    font-size: 14px;
    font-family: 'be vietnam pro';
    color: #fff;
    line-height: 22px;
    margin-bottom: 5px;
}

.footer-phone a:hover{
    color: #40a9ff;
}

.footer-title{
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: Oswald;
    margin-bottom: 15px;
}

.footer-hotline a{
    padding: 10px 10px;
    margin-top: 30px;
    border: 1px solid #fabd05;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

.footer-hotline a span{
    color: #fabd05;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    font-family: Oswald;
}

.footer-pay ul li{
    margin-right: 20px;
}



.footer-download ul li a{
    height: 40px;
    margin-right: 20px;
}



.footer-media ul li a{
    height: 40px;
    margin-right: 20px;
}



.panel-footer .panel-foot{
    padding: 20px 20px 30px 20px;
}

.panel-footer .panel-foot .copyright{
    color: #5f5f5f;
    font-size: 14px;
    font-family: 'be vietnam pro';
    line-height: 22px;
}

.footer-recruit ul li{
    margin-right: 20px;
}

.footer-recruit ul li .footer-text{
    font-weight: 300;
}

/*panel-way*/

.panel-way{
    padding-bottom: 40px;
}

.panel-way .panel-head .heading{
    line-height: 1.5;
    text-align: center;
    font-size: 28px;
    font-family: Oswald;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
}

.panel-way .panel-head .way-des{
    font-size: 16px;
    text-align: center;
    padding: 0 15% 30px 15%;
    margin: 0 auto;
}

.way-top{
    margin-bottom: 30px;
}

.way-item{
    border-radius: 8px;
    overflow: hidden;
    color: #111;
    transition: all .3s;
    border: 1px solid #dadada;
    position: relative;
}

.way-info{
    padding: 12px 12px 40px 12px;
}

.way-info a{
    display: block;
}

.way-item .thumb{
    overflow: hidden;
    transition: all .3s;
}

.way-info .title{
    font-size: 22px;
    min-height: 70px;
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
}

.way-info .way-des{
    font-size: 16px;
    margin-top: 16px;
    min-height: 50px;
    font-family: 'be vietnam pro';
    color: #000;
    font-weight: 300;
    line-height: 1.4;
}

.way-view{
    position: absolute;
    bottom: 15px;
    left: 12px;
    font-family: 'be vietnam pro';
    font-size: 11px;
    color: #111111;
    font-weight: 300;
    line-height: 17px;
}

.way-tag{
    position: absolute;
    bottom: 15px;
    right: 12px;
    transform: translate(0, 8px);
}

.way-tag i{
    font-size: 25px;
    color: red;
}

.way-item:hover{
    box-shadow: 0 0 14px rgb(0 0 0 / 45%);
        transition: all .3s;
}

.way-item:hover .thumb a img{
    transform: scale(1.05);
        transition: all .3s;
}

.way-body{
    margin-bottom: 40px;
}


.way-body .way-wrap{
    margin-top: 30px;
}

.way-body .way-item .way-info .title{
    font-family: 'be vietnam pro';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #111111;
    min-height: 55px;
}
.panel-way .panel-foot .page-list li{
    margin-right: 10px;
}
.panel-way .panel-foot .page-list li a{
    display: inline-block;
    padding: 10px;
    color: #000;
    line-height: 20px;
    font-size: 25px;
    
    text-align: center;
}

.panel-way .panel-foot .page-list li{
    border: 1px solid transparent;
}

.panel-way .panel-foot .page-list li.number.active{
    border: 1px solid #e15c5c;
}

.panel-way .panel-foot .page-list li:hover{
    border: 1px solid #e15c5c;
}

/*panel-address*/

.panel-address {
    padding-bottom: 60px;
}

.panel-address .panel-head .thumb{
    position: relative;
}

.panel-address .panel-head .thumb .address-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background: hsla(0,0%,100%,.5);
    padding: 5px 30px;
}

.panel-address .panel-head .thumb .address-heading h3{
    text-align: center;
    text-transform: uppercase;
    font-family: 'be vietnam pro';
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
    color: #000;
    display: block;
}

.panel-address .panel-head .thumb .address-heading span{
    text-align: center;
    font-family: 'be vietnam pro';
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    color: #000;
    display: block;
}

.panel-address .panel-head{
    margin-bottom: 30px;
}

.address-des p{
    font-family: 'be vietnam pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    display: block;
    padding: 15px 0;
}
.address-pic{
    padding: 15px 0;
}

.address-pic.last-pic .thumb{
    width: 100%;
}
.address-more{
    text-align: center;
    padding-top: 35px;

}
.address-more a{
    padding: 12px 25px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-family: "be vietnam pro",sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: auto;
    background: #fc3;
    line-height: 1.4;
    color: #000;
}

.address-more a:hover{
    opacity: 0.7;
}

.footer-logo{
    width: 30%;
    margin-bottom: 12px;
}

@media(max-width: 760px){
    .panel-footer{
        padding: 15px;
    }

     .footer-download{
        margin-top: 20px;
    }

    .footer-media{
        margin-top: 20px;
    }

    .footer-recruit li{
        margin-bottom: 10px;
    }

    .footer-media-list{
        margin-top: 10px;
    }

    .footer-hotline a{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .panel-footer .panel-foot{
        padding: 15px;

    }

    .panel-way{
        padding: 0 15px;
    }

    .panel-way .panel-head .heading{
        font-size: 20px;
        line-height: 31px;
    }

    .panel-way .panel-head .way-des {
        padding: 0 0 15px 0;
        font-size: 14px;
        line-height: 22px;
        color: #111111;
    }

    .way-info .title{
        min-height: auto;
        font-size: 18px;
        line-height: 28px;
    }

    .way-info .way-des{
        font-size: 14px;
        line-height: 22px;
        min-height: auto;
    }
    .panel-way .panel-body .way-top{
        margin-bottom: 0;
    }
    .panel-way .panel-body .way-top .way-wrap{
        margin-top: 30px;
    }
    .panel-way .panel-foot{
        padding-bottom: 30px;
    }

    .panel-address .panel-head .thumb{
        height: 210px;
    }
    .panel-address .panel-head .thumb .address-heading span,
    .panel-address .panel-head .thumb .address-heading h3{
        font-size: 18px;
        line-height: 28px;
    }

    .panel-address .panel-head .thumb .address-heading{
        padding: 5px 10px;
    }

    .address-des p{
        font-size: 14px;
        line-height: 22px;
    }

    .address-pic .thumb{
        height: auto;
    }
}

@media(min-width: 1200px){
    .footer-download{
        margin-top: 30px;
    }

    .footer-media{
        margin-top: 50px;
    }

    .footer-media-list{
        margin-top: 20px;
    }

    .panel-footer .panel-body{
        padding-bottom: 30px;
        border-bottom: 1px solid #3d3d3d;
    }

    .way-body .way-wrap:nth-child(1),
    .way-body .way-wrap:nth-child(2),
    .way-body .way-wrap:nth-child(3),
    .way-body .way-wrap:nth-child(4){
        margin-top: 0;
    }

    .address-pic .thumb{
        width: 959px;
        margin: 0 auto;
    }

}